decord
einops
imageio
numpy==1.23.5
omegaconf
opencv_python
pandas
Pillow
pytorch_lightning==1.9.3
PyYAML
setuptools
torch==2.4.1
torchvision==0.19.1
tqdm
transformers==4.40.1
moviepy
av
xformers==0.0.28
gradio
timm
scikit-learn 
open_clip_torch==2.22.0
kornia
remote-pdb
accelerate==0.28.0
defopt